# Homework 5.  Simple Queries

In this project, you will design simple queries that rely on relational restriction and projection. Some restrictions may require a subquery.

We will use the App database that was designed and populated in [004-Design](./004-Design.ipnb`).

In [ ]:
import datajoint as dj
schema = dj.Schema('app')
schema.spawn_missing_classes()
dj.Diagram(schema)

#### Problem 1 (solved). All accounts last_names for persons named "Paul" or "Paula" born in the 1990s

In [ ]:

Account & 'first_name in ("Paul", "Paula")' & 'year(dob) between 1990 and 1999'

#### Problem 2:  Show the 10 youngest males whose last names start with "Ra"
Hint: Look into the use of wildcard pattern matching in MySQL https://dev.mysql.com/doc/refman/8.0/en/pattern-matching.html

#### Problem 3: Show full names of the people who omitted their date of birth. Sort them alphabetically by last name / first name.  Show the first 10 only.
Hint: look into the use of string https://dev.mysql.com/doc/refman/8.0/en/string-functions.html

Hint: Comparing to NULL, use `IS NULL` or `IS NOT NULL` https://dev.mysql.com/doc/refman/8.0/en/working-with-null.html

#### Problem 4: Show the full names of all females born in June, also showing their age in years. Sort by last name / first name and show the first 10 only.
Hint: look into date functions https://dev.mysql.com/doc/refman/8.0/en/date-and-time-functions.html

#### Problem 5: Show the full information of the youngest person who has a credit card.

#### Problem 6: Show the full information of the oldest person who does not have a credit card.

#### Problem 7: Show the first 10 customers who purchased the "Sprint" addon, including their age in years.